# Pandas
* Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.
* table ko single column lai series vaninxa

# Installation

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# importing pandas

In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

# Pandas has two data structures named: Series and DataFrame
* Series: 1 dimensionsal
* DataFrame: 2 or more dimensional

# Introduction to pandas Series

In [19]:
s = pd.Series(["Rohit", "Simran", "Jane", "John", "Amisha", "Champa"])

In [20]:
s

0     Rohit
1    Simran
2      Jane
3      John
4    Amisha
5    Champa
dtype: object

In [21]:
type(s)

pandas.core.series.Series

In [22]:
s.ndim

1

In [23]:
s = pd.Series(["Rohit", "Simran", "Jane", "John", "Amisha", "Champa"])
s

0     Rohit
1    Simran
2      Jane
3      John
4    Amisha
5    Champa
dtype: object

In [25]:
s[4]

'Amisha'

In [27]:
s[2]

'Jane'

In [30]:
s.index.tolist()

[0, 1, 2, 3, 4, 5]

In [32]:
s.values

array(['Rohit', 'Simran', 'Jane', 'John', 'Amisha', 'Champa'],
      dtype=object)

In [33]:
s.values[3] # array ko index

'John'

In [35]:
s[3] # Series ko index

'John'

# Updating index

In [49]:
s = pd.Series(["Rohit", "Simran", "Jane", "John", "Amisha", "Champa"], index=[101, 102, 103, 104, 105, 106])

In [50]:
s

101     Rohit
102    Simran
103      Jane
104      John
105    Amisha
106    Champa
dtype: object

In [51]:
s.values[3]

'John'

In [52]:
s[104]

'John'

In [58]:
# assigning name to series

In [59]:
s = pd.Series(["Rohit", "Simran", "Jane", "John", "Amisha", "Champa"], name="friends")

In [60]:
s

0     Rohit
1    Simran
2      Jane
3      John
4    Amisha
5    Champa
Name: friends, dtype: object

In [61]:
s.values[1]

'Simran'

In [62]:
s[1]

'Simran'

In [63]:
s.index.tolist()

[0, 1, 2, 3, 4, 5]

In [64]:
s.values

array(['Rohit', 'Simran', 'Jane', 'John', 'Amisha', 'Champa'],
      dtype=object)

In [65]:
s.values.tolist()

['Rohit', 'Simran', 'Jane', 'John', 'Amisha', 'Champa']

# Other example

In [70]:
s = pd.Series(["Gov.", "Private", "Gov.", "Unemployed", "Self-employed", "Unemployed", "Gov."], name="Job Types")

In [71]:
s

0             Gov.
1          Private
2             Gov.
3       Unemployed
4    Self-employed
5       Unemployed
6             Gov.
Name: Job Types, dtype: object

In [72]:
# Unique job type in a series

In [78]:
s.unique() # unique values in the series

array(['Gov.', 'Private', 'Unemployed', 'Self-employed'], dtype=object)

In [77]:
s.nunique() # no. of unique values in the series

4

In [82]:
s.value_counts() #frequecy distribution of each category

Gov.             3
Unemployed       2
Private          1
Self-employed    1
Name: Job Types, dtype: int64

In [83]:
s.mode()

0    Gov.
Name: Job Types, dtype: object

In [84]:
s[2:5]

2             Gov.
3       Unemployed
4    Self-employed
Name: Job Types, dtype: object

# .apply()

In [85]:
s = pd.Series(["Male", "male", "Female", "f", "female", "m", "Male", "Female", "F", "M"])

In [86]:
s

0      Male
1      male
2    Female
3         f
4    female
5         m
6      Male
7    Female
8         F
9         M
dtype: object

In [87]:
s.unique()

array(['Male', 'male', 'Female', 'f', 'female', 'm', 'F', 'M'],
      dtype=object)

In [90]:
# We want to make data consistent and accurate

In [93]:
def clean(string):
    return string.upper()[0]

In [99]:
clean("male")

'M'

In [100]:
clean("f")

'F'

In [106]:
s_new = s.apply(clean)
s_new

0    M
1    M
2    F
3    F
4    F
5    M
6    M
7    F
8    F
9    M
dtype: object

In [104]:
s_new.unique()

array(['M', 'F'], dtype=object)

In [105]:
s_new.nunique()

2

In [113]:
s = pd.Series(["Holiday", "Monday", "tuesdaY", "Holiday", "Holiday", "holiDay", "holiDay"])

In [114]:
s

0    Holiday
1     Monday
2    tuesdaY
3    Holiday
4    Holiday
5    holiDay
6    holiDay
dtype: object

In [115]:
def upper(string):
    return string.upper()

In [117]:
s_upper = s.apply(upper)

In [118]:
s_upper

0    HOLIDAY
1     MONDAY
2    TUESDAY
3    HOLIDAY
4    HOLIDAY
5    HOLIDAY
6    HOLIDAY
dtype: object

In [119]:
s.apply(lambda x: x.lower())

0    holiday
1     monday
2    tuesday
3    holiday
4    holiday
5    holiday
6    holiday
dtype: object

# Vertically concate series to get DataFrame

In [120]:
s1 = pd.Series(["Rohit", "Simran", "Jane"], name="Student")
s2 = pd.Series(["M", "F", "M"], name="Gender")

In [140]:
df = pd.concat([s1, s2], axis="columns")

In [141]:
print(df)
type(df)

  Student Gender
0   Rohit      M
1  Simran      F
2    Jane      M

pandas.core.frame.DataFrame